@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto+Condensed&family=Tilt+Prism&display=swap');

body {
 box-sizing: border-box;
 margin: 0;
 padding: 0;
 background-color: #0C134F;
 font-family: 'Roboto Condensed', sans-serif;
}

